<div class="row">
  <aside class="col-sm-8">
    <div>
      <h1><%= @user.name %>さんの小遣い帳リスト</h1>
    </div>
  </aside>
  <div class="offset-sm-1 col-sm-1">
    <%= link_to '新規', '#', class: 'btn btn-primary' %>
  </div>
  <div class="offset-sm-1 col-sm-1">
    <%= link_to '一覧', '#', class: 'btn btn-primary' %>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h3 class="card-title">作成中</h3>
  </div>
  <div class="card-body">
  </div>
</div>
<div class="card">
  <div class="card-header">
    <h3 class="card-title">作成済み</h3>
  </div>
  <div class="card-body">
  </div>
</div>
